<div>
  <div class="row">
    <button mat-icon-button (click)="goBack()" class="back-button">
      <mat-icon aria-label="Torna indietro">arrow_back</mat-icon>
    </button>

    <div class="col-md-8 offset-md-2 purchase-wrapper">
      <mat-card>
        <mat-card-content>
          <h2>
            Riepilogo dell'acquisto
          </h2>

          <div style="height: 400px;" leaflet [leafletOptions]="mapOptions" [leafletLayers]="markers">
          </div>

          <h2 class="margin-top">
            Elenco delle posizioni acquistate:
          </h2>

          <mat-list>
            <mat-list-item role="listitem" *ngFor="let p of purchase.positions">
              Coordinate: {{p.latitude}},{{p.longitude}}. Data: {{p.timestamp | formatTimestamp}}
            </mat-list-item>
          </mat-list>

        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
