<div>
  <div class="row">
    <button mat-icon-button (click)="goBack()" class="back-button">
      <mat-icon aria-label="Torna indietro">arrow_back</mat-icon>
    </button>

    <div class="col-md-8 offset-md-2 account-wrapper">
      <mat-card>
        <mat-card-title>Profilo Utente</mat-card-title>
        <mat-card-content>
          <mat-list>
            <mat-list-item><strong>ID Account:</strong> {{user.id}}</mat-list-item>
              <mat-list-item><strong>Nome Utente:</strong> {{user.username}}</mat-list-item>
            <mat-list-item>
              <strong>Token Posseduti:</strong> {{user.wallet}}
            </mat-list-item>
          </mat-list>
        </mat-card-content>
        <mat-card-actions>
          <div class="d-flex justify-content-around">
            <button mat-flat-button color="primary" (click)="onTopup()"><mat-icon>toll</mat-icon> Ricarica Token</button>
            <button mat-flat-button color="warn" (click)="onChangePassword()"><mat-icon>vpn_key</mat-icon> Modifica Password</button>
          </div>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
