<div>
  <div class="row">
    <button mat-icon-button (click)="goBack()" class="back-button">
      <mat-icon aria-label="Torna indietro">arrow_back</mat-icon>
    </button>
    <div class="col-md-8 offset-md-2">
      <mat-card>
            <app-archive-map (positionChanged)="onPositionChanged($event)" (areaSelected)="onAreaSelected($event)"></app-archive-map>
      </mat-card>
      <mat-card>
        <app-time-chart archives=""></app-time-chart>
      </mat-card>
      <mat-card>
        <button (click)="clearMarkers()">Clear Markers</button>
        <button (click)="clearGeo()">Clear Polygon</button>
      </mat-card>
    </div>
  </div>
</div>
