<div>
  <div class="row">
    <button mat-icon-button (click)="goBack()" class="back-button">
      <mat-icon aria-label="Torna indietro">arrow_back</mat-icon>
    </button>
    <div class="col-md-8 offset-md-2 temporal-filter-wrapper">
      <mat-card>
        <mat-card-content>
          <h2>
            Filtro temporale
            <button mat-raised-button color="accent" class="temporal-filter-btn" (click)="clearTemporal()">
              Reset
            </button>
          </h2>

          <p>
            Seleziona un'intervallo di date all'interno del quale effettuare la ricerca delle posizioni
          </p>

          <div class="slider-wrapper">
            <span>Da: </span>
            <mat-slider [min]="sliderMin" [max]="sliderMax" [(ngModel)]="dateFrom">
            </mat-slider>
            <strong *ngIf="dateFrom">
              {{ dateFrom | formatTimestamp}}
            </strong>
          </div>
          <div class="slider-wrapper">
            <span class="extra-margin">A: </span>
            <mat-slider [min]="sliderMin" [max]="sliderMax" [(ngModel)]="dateTo">
            </mat-slider>
            <strong *ngIf="dateTo">
              {{ dateTo | formatTimestamp}}
            </strong>
          </div>

          <div class="slider-error" *ngIf="dateFrom && dateTo && dateFrom > dateTo">
            L'intervallo selezionato non è valido
          </div>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-md-8 offset-md-2 geospatial-filter-wrapper">
      <mat-card>n
        <mat-card-content>
          <h2>
            Filtro geospaziale
            <button mat-raised-button color="accent" class="geospatial-filter-btn" (click)="clearGeospatial()">
              Reset
            </button>
          </h2>

          <p>
            Seleziona un'area all'interno della quale circoscrivere la ricerca delle posizioni
          </p>

          <div style="height: 400px;" leaflet [leafletOptions]="mapOptions" (leafletMapReady)="onMapReady($event)">
            <div *ngIf="showControlLayer" leafletDraw [leafletDrawOptions]="mapDrawOptions">
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-md-8 offset-md-2 apply-filters-wrapper">
      <button mat-raised-button color="primary" class="apply-filters-btn" (click)="searchPositions()" [disabled]="searchButtonDisabled()">
        Effettua la ricerca
      </button>
    </div>
  </div>
</div>
