h2 {
  margin: 10px;
  margin-left: 0;
  text-align: left;
}

p {
  text-align: left;
}

.temporal-filter-wrapper,
.geospatial-filter-wrapper {
  padding: 0;
}

.temporal-filter-btn,
.geospatial-filter-btn {
  float: right;
  position: relative;
  left: 10px;
  top: -5px;
  margin-left: -10px;
}

.apply-filters-wrapper {
  text-align: center;
  padding-top: 24px;
  padding-bottom: 48px;
}

.apply-filters-btn {
  width: 50%;
}

/* Slider only stuff */
.slider-wrapper {
  text-align: left;
}

mat-slider {
  width: 70%;
}

.extra-margin {
  margin-right: 8px;
}

.slider-error {
  text-align: left;
}
