/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

@import '../node_modules/bootstrap/dist/css/bootstrap-reboot.css';
@import '../node_modules/bootstrap/dist/css/bootstrap-grid.css';
@import '../node_modules/leaflet/dist/leaflet.css';
@import '../node_modules/leaflet-draw/dist/leaflet.draw.css';

@import 'styles-reset.css';

/* import '@carbon/charts/styles.css';  */
@import '../node_modules/@carbon/charts/styles.css';
@import './ibm-plex-font.css';

body {
  margin: 0;
  font-family: Roboto, sans-serif;
  height:100%;
  /*background-color: #3c3c3c;*/
}

mat-card {
  max-width: 80%;
  margin: 2em auto;
  text-align: center;
}

mat-toolbar-row {
  justify-content: space-between;
}

.done {
  position: fixed;
  bottom: 20px;
  right: 20px;
  color: white;
}

.back-button {
  padding: 24px !important;
}

.row {
  margin: 0;
}
