<h1 mat-dialog-title>Upload Archivio</h1>
<div mat-dialog-content>
  <p>L'archivio sarà immediatamente disponibile per la ricerca nel Negozio.</p>
  <mat-form-field>
    <div>
      <mat-toolbar>
        <!-- Display files names -->
        <input matInput [(ngModel)]="fileAttr" readonly name="name" />

        <!-- Browse Button -->
        <button mat-flat-button color="primary">
          <mat-icon>folder_open</mat-icon> Seleziona
        </button>
      </mat-toolbar>

      <!-- Fetch selected filed on change -->
      <input type="file" #fileInput id="uploadFile" (change)="onFileSelected($event)" name="uploadFile" accept="text/json" />
    </div>
  </mat-form-field>
  <div id="map-tile" *ngIf="showPreview">
    <h4>Misure</h4>
    <p>Queste sono le misurazioni contenute nel tuo archivio:</p>
    <table mat-table [dataSource]="dataSource" matSort >
      <!-- Purchase count column -->
      <ng-container matColumnDef="timestamp">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Timestamp </th>
        <td mat-cell *matCellDef="let measure"> {{timestampToString(measure.timestamp)}} </td>
      </ng-container>
      <!-- Position Count Column -->
      <ng-container matColumnDef="latitude" mat-sort-header>
        <th mat-header-cell *matHeaderCellDef> Latitudine </th>
        <td mat-cell *matCellDef="let measure"> {{measure.latitude}} </td>
      </ng-container>
      <!-- Status Column -->
      <ng-container matColumnDef="longitude" mat-sort-header>
        <th mat-header-cell *matHeaderCellDef> Longitudine </th>
        <td mat-cell *matCellDef="let measure"> {{measure.longitude}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
</div>
<div mat-dialog-actions>
  <button mat-button [mat-dialog-close]="false" cdkFocusInitial>Annulla</button>
  <button mat-button [mat-dialog-close]="measures" [disabled]="!showPreview">Conferma</button>
</div>
